{% extends 'base.html.twig' %}

{% block title %}PropertyStatus index{% endblock %}

{% block body %}
    <h1>PropertyStatus index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Status</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for property_status in property_statuses %}
            <tr>
                <td>{{ property_status.id }}</td>
                <td>{{ property_status.name }}</td>
                <td>{{ property_status.status ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_property_status_show', {'id': property_status.id}) }}">show</a>
                    <a href="{{ path('app_property_status_edit', {'id': property_status.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_property_status_new') }}">Create new</a>
{% endblock %}
