{% extends 'base.html.twig' %}

{% block title %}Corregimiento index{% endblock %}

{% block body %}
    <h1>Corregimiento index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Status</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for corregimiento in corregimientos %}
            <tr>
                <td>{{ corregimiento.id }}</td>
                <td>{{ corregimiento.name }}</td>
                <td>{{ corregimiento.status ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_corregimiento_show', {'id': corregimiento.id}) }}">show</a>
                    <a href="{{ path('app_corregimiento_edit', {'id': corregimiento.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_corregimiento_new') }}">Create new</a>
{% endblock %}
