{% extends 'base.html.twig' %}

{% block title %}WorkingInformation{% endblock %}

{% block body %}
    <h1>WorkingInformation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ working_information.id }}</td>
            </tr>
            <tr>
                <th>Since</th>
                <td>{{ working_information.since ? working_information.since|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Until</th>
                <td>{{ working_information.until ? working_information.until|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Business</th>
                <td>{{ working_information.business }}</td>
            </tr>
            <tr>
                <th>PositionHeld</th>
                <td>{{ working_information.positionHeld }}</td>
            </tr>
            <tr>
                <th>DirectBoss</th>
                <td>{{ working_information.directBoss }}</td>
            </tr>
            <tr>
                <th>ReferencePhone</th>
                <td>{{ working_information.referencePhone }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_working_information_index') }}">back to list</a>

    <a href="{{ path('app_working_information_edit', {'id': working_information.id}) }}">edit</a>

    {{ include('working_information/_delete_form.html.twig') }}
{% endblock %}
