<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
        <meta name="description" content="Smarthr - Bootstrap Admin Template">
        <meta name="keywords" content="admin, estimates, bootstrap, business, corporate, creative, management, minimal, modern, accounts, invoice, html5, responsive, CRM, Projects">
        <meta name="author" content="Dreamguys - Bootstrap Admin Template">
        <meta name="robots" content="noindex, nofollow">
        <title>{% block title %}Dashboard{% endblock %}</title>

        {% block stylesheets %}
            <!-- Favicon -->
            <link rel="shortcut icon" type="image/x-icon" href="{{ asset('assets/img/favicon.png') }}">

            <!-- Bootstrap CSS -->
            <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">

            <!-- Fontawesome CSS -->
            <link rel="stylesheet" href="{{ asset('assets/css/font-awesome.min.css') }}">

            <!-- Lineawesome CSS -->
            <link rel="stylesheet" href="{{ asset('assets/css/line-awesome.min.css') }}">

            <!-- Select2 CSS -->
            <link rel="stylesheet" href="{{ asset('assets/css/select2.min.css') }}">

            <!-- Datetimepicker CSS -->
            <link rel="stylesheet" href="{{ asset('assets/css/bootstrap-datetimepicker.min.css') }}">

            <!-- Tagsinput CSS -->
            <link rel="stylesheet" href="{{ asset('assets/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css') }}">

            <!-- Main CSS -->
            <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">

        {% endblock %}


    </head>
    <body>
        <div class="main-wrapper">
            <!-- Loader -->
            <div id="loader-wrapper">
                <div id="loader">
                    <div class="loader-ellips">
                        <span class="loader-ellips__dot"></span>
                        <span class="loader-ellips__dot"></span>
                        <span class="loader-ellips__dot"></span>
                        <span class="loader-ellips__dot"></span>
                    </div>
                </div>
            </div>
            <!-- /Loader -->
            {% block menu %}
                {% include "header.html.twig "%}
            {% endblock %}

            <div class="page-wrapper">
                <div class="content container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="welcome-box">
                                <div class="welcome-img">
                                    <img alt="" src="{{ asset('assets/img/profiles/avatar-02.jpg') }}">
                                </div>
                                <div class="welcome-det">
                                    <h3>Bienvenido, {{ app.user.email }}</h3>

                                </div>
                            </div>
                        </div>
                    </div>
                    {% block body %}{% endblock %}

                </div>
            </div>
        </div>

        {% block javascripts %}
            <!--[if lt IE 9]>
            <script src="{{ asset('assets/js/html5shiv.min.js') }}"></script>
            <script src="{{ asset('assets/js/respond.min.js') }}"></script>
            <![endif]-->
            <!-- jQuery -->
            <script src="{{ asset('assets/js/jquery-3.6.0.min.js') }}"></script>

            <!-- Bootstrap Core JS -->
            <script src="{{ asset('assets/js/bootstrap.bundle.min.js') }}"></script>

            <!-- Slimscroll JS -->
            <script src="{{ asset('assets/js/jquery.slimscroll.min.js') }}"></script>

            <!-- Select2 JS -->
            <script src="{{ asset('assets/js/select2.min.js') }}"></script>

            <!-- Tagsinput JS -->
            <script src="{{ asset('assets/plugins/bootstrap-tagsinput/bootstrap-tagsinput.min.js') }}"></script>

            <!-- Datetimepicker JS -->
            <script src="{{ asset('assets/js/moment.min.js') }}"></script>
            <script src="{{ asset('assets/js/bootstrap-datetimepicker.min.js') }}"></script>

            <!-- Custom JS -->
            <script src="{{ asset('assets/js/app.js') }}"></script>
        {% endblock %}
        {% block myScripts %}

        {% endblock %}
    </body>
</html>
