{% extends 'base.html.twig' %}

{% block title %}Relationship index{% endblock %}

{% block body %}
    <h1>Relationship index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Status</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for relationship in relationships %}
            <tr>
                <td>{{ relationship.id }}</td>
                <td>{{ relationship.name }}</td>
                <td>{{ relationship.status ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_relationship_show', {'id': relationship.id}) }}">show</a>
                    <a href="{{ path('app_relationship_edit', {'id': relationship.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_relationship_new') }}">Create new</a>
{% endblock %}
